.learn-content {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightsteelblue;
  background-color: #fff;
  height: 100vh;
  line-height: 3.4em;

  a {
    padding: 7px 15px;
    &:hover {
      background: lightgray;
    }
  }
}
